venv
.idea
doc/tfm_obfuscation.aux
doc/tfm_obfuscation.lof
doc/tfm_obfuscation.log
doc/tfm_obfuscation.lol
doc/tfm_obfuscation.out
doc/tfm_obfuscation.synctex.gz
doc/tfm_obfuscation.toc
doc/article_obfuscation.aux
doc/article_obfuscation.lof
doc/article_obfuscation.log
doc/article_obfuscation.lol
doc/article_obfuscation.out
doc/article_obfuscation.synctex.gz
doc/slides_obfuscation.aux
doc/slides_obfuscation.lof
doc/slides_obfuscation.log
doc/slides_obfuscation.lol
doc/slides_obfuscation.out
doc/slides_obfuscation.snm
doc/slides_obfuscation.nav
doc/slides_obfuscation.pyg
doc/slides_obfuscation.toc
doc/slides_obfuscation.vrb
doc/slides_obfuscation.synctex.gz
doc/article_obfuscation.toc
samples/master_example
samples/simple_js_malware_code
samples/*.js
dev/dist
dev/build
dev/freyja.spec
